langchain
langgraph
langchain-community
langchain-core
langchain-google-genai
langchain-mistralai
langchain-openai
faiss-cpu
tavily-python
beautifulsoup4
requests
pydantic
langchain-text-splitters
python-dotenv
PyYAML
fastapi
uvicorn
motor
pymongo
streamlit
langchain-qdrant
python-multipart
langsmith
pypdf
PyJWT
passlib[bcrypt]
bcrypt=4.0.1
streamlit-feedback